RILLDNS_PROMETHEUS_URL={{ rilldns_prometheus_url }}
RILLDNS_HA_NODE={{ inventory_hostname }}
RILLDNS_HA_ROLE={{ 'active' if rilldns_role == 'primary' else 'standby' }}
RILLDNS_HA_PEER_NAME={{ groups['rilldns'] | difference([inventory_hostname]) | first | default('') }}
RILLDNS_HA_PEER_HEALTH_URL=http://{{ rilldns_secondary_address if rilldns_role == 'primary' else rilldns_primary_address }}:18053/healthz
RILLDNS_HA_PEER_STATUS_URL=http://{{ rilldns_secondary_address if rilldns_role == 'primary' else rilldns_primary_address }}:18053/v1/status/ha
RILLDNS_HA_VIP={{ rilldns_vip }}
{% if rilldns_mcp_token %}
RILLDNS_MCP_TOKEN={{ rilldns_mcp_token }}
{% endif %}
{% if rilldns_ui_enabled %}
RILLDNS_UI_LISTEN={{ rilldns_ui_listen }}
RILLDNS_OIDC_ISSUER={{ rilldns_oidc_issuer }}
RILLDNS_OIDC_CLIENT_ID={{ rilldns_oidc_client_id }}
RILLDNS_OIDC_CLIENT_SECRET={{ rilldns_oidc_client_secret }}
RILLDNS_OIDC_REDIRECT_URL={{ rilldns_oidc_redirect_url }}
RILLDNS_OIDC_ALLOWED_GROUPS={{ rilldns_oidc_allowed_groups | join(',') }}
RILLDNS_OIDC_ALLOWED_SUBJECTS={{ rilldns_oidc_allowed_subjects | join(',') }}
RILLDNS_SESSION_KEY={{ rilldns_session_key }}
{% endif %}
